* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina', cursive;
    
}
img {
    height: 100%;
    width: 100%;
}
.about {
    height: 100%;
    width: 100%; 
    background-color: #FFFFFF;
}
.skills {
    height: 100%;
    width: 100%; 
    background-color: #20303C;
}
.projects {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}
#title {
    text-align: center;
    vertical-align: middle;
}
#title h1 {
    font-size: 700%;
    color: white;
}
#title h3 {
    color: #B3B3B3;
    font-size: 250%;
    
}
.fp-tableCell {
    background: url('https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-9/11006450_966198793397886_5016609415602649159_n.jpg?oh=c11fb02497822a9372f140ce5ef7dbf1&oe=5960070A') no-repeat center center fixed;
    background-size: cover;
}

.myTitle {
    color: #20303C;
    text-align: center;
    vertical-align: middle;
    padding: 100px 0 10px 0;
    font-size: 400%;
    margin: 0;
}

.myRed {
    height: 10px;
    width: 70px;
    background-color: #DF3143;
    margin: 0 auto;
    margin-bottom: 30px;    
}
.aboutText {
    font-size: 200%;
}

ul {
    list-style: none;
    text-align: left;
    font-size: 200%;
}
ul li {
    margin-bottom: 5px;
}
.circle {
    height: 25px;
    width: 25px;
    background-color: #20303C;
    border: 1px solid red;
    border-radius: 50%;
    margin-bottom: -30px;
}

span {
    padding-left: 40px;
}

.skills {
    color: white;
}
.skills h3 {
    color: white;
}

.skills .row {
    padding-top: 30px;
}
